.container-apresentacao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 17vh 40vh 30vh ;
    color: #868789;
}
.container-apresentacao h2,p{
    margin-right: 20px;
    grid-column: 1;
}
.container-apresentacao img{
    margin-top: 5vh;
    grid-column:22;
    height: auto;
    width: 400px;
    top: 25vh;
}