.bg-login{
    width: 78%;
    height: 16em;
    background-color: rgb(22, 20, 20);
    border-radius: 8px;
    margin: 0 auto; 
}
.login{
    padding: 15px ;
    justify-content: center;
}
.login h2{
    text-align: center;
    font-size: 35px;
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
form input{
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}
.login-entrar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.button{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100px;
    height: 40px;
    background-color: #da0f12;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.login-entrar p{
    cursor: pointer;
}
.button:hover{
    background-color: #af2527;
    cursor: pointer;
}